USE [master]
GO
/****** Object:  Database [TORNEOSBBDD]    Script Date: 01/03/2023 9:15:26 ******/
CREATE DATABASE [TORNEOSBBDD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TORNEOSBBDD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\TORNEOSBBDD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TORNEOSBBDD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\TORNEOSBBDD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TORNEOSBBDD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TORNEOSBBDD]
GO
/****** Object:  Table [dbo].[Tournament]    Script Date: 01/03/2023 9:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tournament](
	[IdTournament] [int] NOT NULL,
	[Name] [nchar](30) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Users] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Tournament] PRIMARY KEY CLUSTERED 
(
	[IdTournament] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersTournament]    Script Date: 01/03/2023 9:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTournament](
	[IdUser_FK] [int] NULL,
	[IdTournament_FK] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 01/03/2023 9:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUser] [int] NOT NULL,
	[User] [nchar](30) NOT NULL,
	[Email] [nchar](80) NOT NULL,
	[Password] [nchar](50) NOT NULL,
	[Name] [nchar](30) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UsersTournament]  WITH CHECK ADD  CONSTRAINT [IdTournament_FK] FOREIGN KEY([IdTournament_FK])
REFERENCES [dbo].[Tournament] ([IdTournament])
GO
ALTER TABLE [dbo].[UsersTournament] CHECK CONSTRAINT [IdTournament_FK]
GO
ALTER TABLE [dbo].[UsersTournament]  WITH CHECK ADD  CONSTRAINT [IdUser] FOREIGN KEY([IdUser_FK])
REFERENCES [dbo].[Usuario] ([IdUser])
GO
ALTER TABLE [dbo].[UsersTournament] CHECK CONSTRAINT [IdUser]
GO
USE [master]
GO
