<h1>Insertar departamento</h1>

<form method="post">

    <label>Numero departamento</label>
    <input type="number" name="iddepartamento"
        class="form-control" required/>

    <label>Nombre</label>
    <input type="text" name="nombre"
        class="form-control" required/>

    <label>Localidad</label>
    <input type="text" name="localidad"
        class="form-control" required/>

    <button class="btn btn-success">
        Insertar
    </button>
</form>