@model List<Comic>

<h1>Lista comics</h1>

@foreach(Comic com in Model){
    <div class="card" style="width: 16rem; float: left; margin-right:30px; margin-bottom:80px">
      <img src="@com.Imagen" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">@com.Nombre</h5>
        <p class="card-text">@com.Descripcion</p>
      </div>
    </div>
}