@model Doctor

<h1>Insertar Doctor</h1>

<form method="post">
    <label>Id hospital</label>
    <input type="text" name="HospitalCod" class="form-control"
        required/>

        <label>Id Doctor</label>
    <input type="text" name="DoctorCod" class="form-control"
        required/>

        <label>Apellido</label>
    <input type="text" name="Apellido" class="form-control"
        required/>

        <label></label>
    <input type="text" name="Especialidad" class="form-control"
        required/>

        <label></label>
    <input type="number" name="Salario" class="form-control"
        required/>

    <button class="btn btn-success">
        Insertar
    </button>
</form>