<h1>REGISTER</h1> 

<form method="post">

    <label>Nombre:</label>
    <input type="text" name="nombre" class="form-control" />

    <label>Email:</label>
    <input type="text" name="email" class="form-control" />

    <label>Imagen:</label>
    <input type="file" name="imagen" class="form-control" />

    <label>Password:</label>
    <input type="text" name="password" class="form-control" />
    
    <button class="btn btn-primary">
        Register
    </button>
 </form>

 <h1 style="color:darkblue">
    @ViewData["MENSAJE"]
 </h1>