<h1 style="color:red">
    Vista de contenido
</h1>

@section images{
    <img src="~/images/pampara.jpg"
        style="width:100px; height:100px"/>
}

@section home{
    <img src="~/images/perrete.jpg"
        style="width:300px"/>
}