<h1 style="color:blue">New Hospital</h1>

<form method="post">
    <label>Id Hospital:</label>
    <input type="number" name="id" required/>
    
    <label>Nombre:</label>
    <input type="text" name="nombre" required/>

    <label>Direccion:</label>
    <input type="text" name="direccion" required/>

    <label>Telefono:</label>
    <input type="text" name="telefono" required/>

    <label>Camas:</label>
    <input type="text" name="camas" required/>

    <button class="btn btn-success">
        Nuevo Hospital
    </button>
</form>

<h1 style="color:fuchsia">@ViewData["MENSAJE"]</h1>