@model Hospital

<h1>Detalles</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Direccion</td>
            <td>Telefono</td>
            <td>Camas</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.NOMBRE</td>
            <td>@Model.Direccion</td>
            <td>@Model.Telefono</td>
            <td>@Model.Camas</td>
        </tr>
    </tbody>
</table>