<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/67ff9da0-729b-4e7f-a6d5-f5cecf07d0d7/resourceGroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/ApiCoreCrudDepartamentos20230418110959</ResourceId>
    <ResourceGroup>DefaultResourceGroup-WEU</ResourceGroup>
    <ApiResourceId>/subscriptions/67ff9da0-729b-4e7f-a6d5-f5cecf07d0d7/resourceGroups/rg-martes/providers/Microsoft.ApiManagement/service/apimanagementjcmg/apis/empleados</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apicorecruddepartamentos20230418110959.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>5e87163a-c9e8-45ee-9322-a78e65e1d1d3</ProjectGuid>
    <MSDeployServiceURL>apicorecruddepartamentos20230418110959.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ApiCoreCrudDepartamentos20230418110959</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ApiCoreCrudDepartamentos20230418110959</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>