@model Hospital

<h1>Insertar</h1>

<form method="post">
    <label>Id hospital</label>
    <input name="idhospital"
        class="form-control" required/>

        <label>Nombre</label>
    <input name="nombre"
        class="form-control" required/>

        <label>Direccion</label>
    <input name="direccion"
        class="form-control" required/>

        <label>Telefono</label>
    <input name="telefono"
        class="form-control" required/>

        <label>Numero Cama</label>
    <input name="numCama"
        class="form-control" required/>

    <button class="btn btn-success">
        Insertar
    </button>
</form>