<h1>Insertar Hospital</h1>

<form method="post">

    <label>Hospital Cod</label>
    <input type="number" name="hospitalCod"
        class="form-control" required/>

    <label>Nombre</label>
    <input type="text" name="nombre"
        class="form-control" required/>

    <label>Direccion</label>
    <input type="text" name="direccion"
        class="form-control" required/>

    <label>Telefono</label>
    <input type="text" name="telefono"
        class="form-control" required/>

    <label>Numero Camas</label>
    <input type="text" name="numCama"
        class="form-control" required/>

    <button class="btn btn-success">
        Insertar
    </button>
</form>