<h1>Upload Files</h1>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="fichero" class="form-control"/>
    <button class="btn btn-info">
        Upload File
    </button>
</form>

<img src="~/uploads/perrete.jpg" style="width:150px"/>

<h2 style="color:red">
    @ViewData["MENSAJE"]
</h2>