@model Empleado

<h1>Details</h1>

<a asp-controller="Empleados"
    asp-action="Index">
    Volver a index
</a>

<hr />

<ul class="list-group">
    <li class="list-group-item">
        Apellido @Model.Apellido
    </li>
    <li class="list-group-item">
        Oficio @Model.Oficio
    </li>
    <li class="list-group-item">
        Apellido @Model.Salario
    </li>
    <li class="list-group-item">
        Departamento @Model.IdDepartamento
    </li>
</ul>