<h1>
    Sumar Post
</h1>

<form method="post">
    <label>
        Numero 1:
    </label>
    <input type="number" name="valor1"
        class="form-control"/>

    <label>
        Numero 2:
    </label>
    <input type="number" name="valor2"
        class="form-control"/>

    <button class="btn btn-success">
        Sumar
    </button>
</form>

<h1>
    @ViewData["VALOR"];
</h1>