@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">KLK MI BRODER</h1>
    <p>Felix la chupa <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.carniceriademadrid.es%2Fcarniceria-online%2Fcategorias%2Fternera%2Frabo-de-ternera&psig=AOvVaw08VE-mz8K05R889tcoD2jq&ust=1675419516418000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCOjP5pvO9vwCFQAAAAAdAAAAABAD">NO PINCHES AQUI!</a>.</p>
</div>
