<form method="post">
    <input type="text" name="email" class="form-control" />
    <input type="text" name="pass" class="form-control" />
    <button type="submit">Enviar</button>
</form>

<p>@ViewData["MENSAJE"]</p>