<h1>Nuevo departamento</h1>

<form method="post">
    <label>Id Departamento: </label>
    <input type="number" name="iddepartamento"
        class="form-control" required/>

    <label>Nombre: </label>
    <input type="text" name="nombre"
        class="form-control" required/>

    <label>Localidad:</label>
    <input type="text" name="localidad"
        class="form-control" required/>

    <button class="btn btn-info">
        Crear
    </button>
</form>

<h2 style="color:fuchsia">@ViewData["MENSAJE"]</h2>